<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053163490866-rofpqh047t38ia4dv6c06dj6naorctj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053163490866-rofpqh047t38ia4dv6c06dj6naorctj8</string>
	<key>API_KEY</key>
	<string>AIzaSyBU5bzE07XHPhHcwKHI7cmErGgaz4G4oec</string>
	<key>GCM_SENDER_ID</key>
	<string>1053163490866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>planete-41f2d</string>
	<key>STORAGE_BUCKET</key>
	<string>planete-41f2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053163490866:ios:82992388eefaed0221f62b</string>
	<key>DATABASE_URL</key>
	<string>https://planete-41f2d.firebaseio.com</string>
</dict>
</plist>